body {
  background-image: url("../img/tlo.png");
  min-height:100%
  
}
#log{
	width: 40%;
	text-align:center;
	 margin-left: auto;
    margin-right: auto;
    min-height: 100%;
   
}

#bla1{
	width: 40%;
	text-align:left;
	 margin-left: auto;
    margin-right: auto;
    min-height: 100%;
   
}
#bla2{
	width: 100%;
	text-align:left;
	 margin-left: auto;
    margin-right: auto;
    min-height: 100%;
   
}

.bottom-space{
	margin-bottom: 1em;
}



#page_wrapper{
	margin: 1em;
	padding-bottom: 2em;
	 min-height:100%

}
#header
{
	text-align:center;

}
#footer{
		width: 100%;
		padding-bottom:0px;
		text-align: center;
		position: fixed;
  		bottom: 0;
  		right: 0;

		
		
}
#bla1
{	
	width: 40%;
	margin-left:auto;
	margin-right:auto;

  
}

#grafika {
	float:center;
	text-align:center;

}
#text {
	float:center;
	width:70%;
	height:10em;

}